/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --backgroung-image: url(../images/cover-image-dark.png);
  --font-family: "IBM Plex mono";
  --font-size: 18px;
  --title-color: #db00ff;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --decoration-visibility: visible;
  --menu-button-hover: rgba(255, 0, 112, 0.4);
  --background-color: #000028;
}
